
@{
    ViewData["Title"] = "Index";    
}



<main>
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="margin-top: 7rem;">
                    <img src="~/assets/img/hero.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block" style="margin-bottom: 35rem;">
                        <h5 style="font-size: 5rem;color: black;">INDIGO TEMPLATE</h5>
                        <p style="color: black; font-size: 2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium <br> ullam consequatur repellat debitis maxime.</p>
                        <button style="background-color: cornflowerblue; height: 3rem; width: 8rem;">Learn More</button>
                        <button style="background-color: darkgreen;height: 3rem; width: 8rem;">Download More</button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


    <section style="background-color: honeydew;">
        <h1 style="text-align: center; margin-top: 5rem;">
            OUR SERVICES
        </h1>
        <p style="text-align: center;">Laudantium ullam consequatur repellat debitis maxime.</p>
        <div class="container" style="text-align: center; margin-top: 5rem; ">
            <div class="row" style="background-color: honeydew;">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <i class="fa-solid fa-rocket" style="font-size: 30px; margin-left: 6rem;margin-top: 2rem;"></i>
                        <div class="card-body">
                            <h5 class="card-title">WEB DESIGN</h5>
                            <p class="card-text">Sed tempus feugiat adipiscing nisl <br> cursus aliquam dolore.</p>
                            <a href="#" class="btn btn-primary" style="background-color:green;">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col" style="background-color: honeydew;">
                    <div class="card" style="width: 20rem;">
                        <i class="fa-solid fa-rocket" style="font-size: 30px; margin-left: 6rem;margin-top: 2rem;"></i>
                        <div class="card-body">
                            <h5 class="card-title">WORDPRESS DEVELOPMENT</h5>
                            <p class="card-text">Sed tempus feugiat adipiscing nisl <br> cursus aliquam dolore.</p>
                            <a href="#" class="btn btn-primary" style="background-color:green;">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col" style="background-color: honeydew;">
                    <div class="card" style="width: 18rem;">
                        <i class="fa-solid fa-rocket" style="font-size: 30px; margin-left: 6rem;margin-top: 2rem;"></i>
                        <div class="card-body">
                            <h5 class="card-title">AWESOME SERVICE TITLE</h5>
                            <p class="card-text">Sed tempus feugiat adipiscing nisl <br> cursus aliquam dolore.</p>
                            <a href="#" class="btn btn-primary" style="background-color:green;">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: white;">
        <div style="margin-top: 6rem;">
            <h1 style="text-align: center; margin-top: 5rem;">
                RECENT POSTS
            </h1>
            <p style="text-align: center;">Laudantium ullam consequatur repellat debitis maxime.</p>

            <div class="container" style="margin-top: 3rem;">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 25rem;">
                            <img src="~/assets/img/blog1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">YELP IS AWFUL FOR EVERYONE INVOLVED</h5>
                                <p class="card-text">Sed egestas, ante et vulputate volutpat, eros pede <br> semper est, vitae luctus metus libero eu augue. Morbi <br> purus libero, faucibus adipiscing, commodo quis, <br> gravida id, est.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 25rem;">
                            <img src="~/assets/img/blog2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">2 BEST SITES TO BUILD YOUR OWN WEBSITE</h5>
                                <p class="card-text">Sed egestas, ante et vulputate volutpat, eros pede <br> semper est, vitae luctus metus libero eu augue. Morbi <br> purus libero, faucibus adipiscing, commodo quis, <br> gravida id, est.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 25rem;">
                            <img src="~/assets/img/blog3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">2 BEST SITES TO BUILD YOUR OWN WEBSITE</h5>
                                <p class="card-text">Sed egestas, ante et vulputate volutpat, eros pede <br> semper est, vitae luctus metus libero eu augue. Morbi <br> purus libero, faucibus adipiscing, commodo quis, <br> gravida id, est.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: white;">
        <div class="fcf-body">

            <div id="fcf-form">
                <h3 class="fcf-h3" style="text-align: center;">Contact us</h3>

                <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">

                    <div class="fcf-form-group">
                        <label for="Name" class="fcf-label">Name</label>
                        <div class="fcf-input-group">
                            <input type="text" id="Name" name="Name" class="fcf-form-control" required>
                        </div>
                    </div>

                    <div class="fcf-form-group">
                        <label for="Email" class="fcf-label">Email</label>
                        <div class="fcf-input-group">
                            <input type="email" id="Email" name="Email" class="fcf-form-control" required>
                        </div>
                    </div>

                    <div class="fcf-form-group">
                        <label for="Message" class="fcf-label">Message</label>
                        <div class="fcf-input-group">
                            <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
                        </div>
                    </div>

                    <div class="fcf-form-group">
                        <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Submit</button>
                    </div>


                </form>
            </div>
        </div>
    </section>
</main>
